{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="d-inline me-3">PHP for food</h1>
    <div class="row mt-5">
        <div class="col-12 col-md-4">
            <img src="{{ asset('img/eda.png') }}" width="400" height="400"/>
        </div>
        <div class="col-12 col-md-8 ps-5">
            <h2 class="mb-4">Кушаем и пилим еду вместе -  {{ tracks|length }} выпуск (15 минут)</h2>
            {% for track in tracks %}
            <div class="song-list" {{ stimulus_controller('song-controls', {
                infoUrl: path('api_songs_get_one', { id: loop.index })
            }) }}>
                <div class="d-flex mb-3">
                    <a href="#" {{ stimulus_action('song-controls', 'play') }}>
                        <i class="fas fa-play me-3"></i>
                    </a>
                    <span class="song-details">{{ track.name }} - {{ track.by }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
