<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Миша❤Кушать️{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">


    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar  mb-5" style="background-color: #fbe234;">
    <div class="container-fluid">
        <a class="navbar-brand" href={{ path('app_homepage') }}>
            🐗 Мятнуться кабанчиком
        </a>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="margin-top: 20px;" href={{ path('app_browse') }}>О проекте</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Main Navigation -->

{% block body %}{% endblock %}

<!-- Footer -->
<div class="container mt-5">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="me-1" style="color: red;"><i class="fas fa-heart"></i></span>
            <span class="text-muted me-1">ОАО"Миша.Кушать️"</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" target="_blank" href="https://github.com/m-fedosov"><i class="fab fa-github"></i></a></li>
        </ul>
    </footer>
</div>
<!-- End Footer -->

</body>
</html>
